.home-section {
  background-color: #000;
  color: #d9e4ec;
  margin-top: -14em;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.home-text {
  flex: 1;
  min-width: 300px;
}

.home-text h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  color: #d9e4ec; /* base white */
}

.home-text .highlight {
  color: #E0115F;
  font-style: italic;
}

.home-image {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
